In [1]:
print('Inachalah')

Inachalah

# 1. Statistiques descriptives

# 2. Macuine learning

### Prétraitement 
- Encodage (exemple [Homme, femme] ==> [1, 0])
- Normalisation (metre sur le même échèle toutes les variables quantitatives)
- Imputation (remplacer ou suprimer les variables manquates)
- Sélection (sélectionner les variables les plus utils au modèle)
- Extraction de caractèristique (Génerer de nouvelles variabls à partir d'information cacher dans la dataset)

(Travail cera effectuer avec les différent modules de sk-learn)

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import sys

In [10]:
full_path_directory = os.path.realpath(os.path.dirname('__file__'))
csv_name = 'data_v1.0.csv'

### Analyse de la forme
- Indentification de la target
- Nombre de lignes et de colonnes
- Types de variables
- Indentification des valeurs manquantes

In [15]:
df = pd.read_csv(os.path.join(full_path_directory, csv_name))
df.head()

,Unnamed: 0,index,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo,embauche
0,0,0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,1,1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2,2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
3,3,3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non,0
4,4,4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0

,Unnamed: 0,index,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo,embauche
0,0,0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non,0
1,1,1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non,0
2,2,2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non,0
3,3,3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non,0
4,4,4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non,0

#### 1. Encodage

In [13]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer, OrdinalEncoder, OneHotEncoder

featurs_encoding = ['sexe', 'diplome', 'specialite']
encoder = LabelEncoder()

for featur in featurs_encoding:    
    df.loc[featur] = encoder.fit_transform(featur)
    # df.loc['sexe']  = LabelEncoder().fit_transform(df)

ValueError: y should be a 1d array, got an array of shape () instead.